/*.game {
	box-sizing: inherit;
}

.square {
    float: left;
    width: 33.333333333%;
    height: 33.333333333%;
    cursor: pointer;
    border-width: 2px;
    border-color: #fff;
    will-change: border-color;
    box-sizing: inherit;
}*/

.container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	overflow: hidden;
}

.game-space {
	float:left;
	width: 33.33%;
	height: 150px;
	border: #000 2px solid;
	box-sizing: border-box;
	text-align: center;
	font-size: 60px;
	padding-top: 40px;
}


